<div class="image-danger pt-5" style="display: flex; justify-content: center;">
    <img src="https://cdn-icons-png.flaticon.com/512/91/91382.png" alt="Descrição da Imagem" style="width: 80px; height: 80px;">
</div>
<div class="text-access-denied pt-3 text-danger" style="display: flex; justify-content: center; font-size: 60px;">
    <p><strong>ACCESS DENIED</strong></p>
</div>
<div class="text-not-authorized" style="display: flex; justify-content: center">
    <h3>You are not authorized for this page!</h3>
</div>
